<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>EJSWIMMER101</h2>
        </header>
        <p>TWITCH FORTNITE STREAMER</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="https://www.ejswimmer101.ga/stream" class="button fit scrolly">WATCH STREAM</a></li>
            </ul>
        </footer>

    </div>

</section>
