<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Streamer Theme</h2>
        </header>
        <p>Dynamic theme for streamer websites</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="https://github.com/bradykondek/streamer/archive/master.zip" class="button fit scrolly">DOWNLOAD</a></li>
            </ul>
        </footer>

    </div>

</section>
