<!-- Footer -->
<footer id="footer">

     <ul class="icons">
        <li><a target="_blank" href="https://instagram.com/ejswimmer101" class="icon circle fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a target="_blank" href="https://twitch.tv/ejswimmer101" class="icon circle fa-twitch"><span class="label">Twitch</span></a></li>  
    </ul>
    
    <ul class="copyright">
        <li>&copy; 2019 EJSwimmer101</li><li>Design: <a target="_blank" href="https://www.bradykondek.ga">Brady Kondek</a></li>
    </ul>
</footer>
